/* list for nav */
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;
  li {
    display: inline-block;
    margin: {
      left: -5px;
      right: 1rem;
    }
  }
}

/* font-size */
@mixin font-size-global($font-s: 1rem) {
  font-size: $font-s;

  @if $font-s < 2rem {
    line-height: 1.5;
  } @else if $font-s >= 2rem and $font-s < 3rem {
    line-height: 1.3;
  } @else if $font-s >= 3rem and $font-s < 5rem {
    line-height: 1.2;
  } @else {
    line-height: 1;
  }
}
